.blog-hero{
    display: flex;
    height: 760px;
    .blog-text-section{
        flex: 1;
        background-color: $headerBG;
        .blog-hero-text{
            margin: 0 auto;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding: 0 30px;
            color: $darkBlue;
            h1{
                font-weight: 600;
                font-size: 3.5rem !important;
                line-height: 80px;
                letter-spacing: -0.015em;

            }
            .author{
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 22px;
                letter-spacing: -0.015em;
            }
        }
    }
    .blog-hero-img{
        flex: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

main{
    width: 100%;
    .blog-content-wrapper{
        width: 70%;
        margin: 0 auto;
        .blog-first-section{
            margin-top: 50px;
            h2{
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 58px;
                letter-spacing: 0.02em;
                color: #263238;
            }
            ul{
                li{
                    list-style-type: none;
                    margin-top: 15px;
                    a{
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 40px;
                        letter-spacing: -0.015em;
                        color: #000000;
                    }
                }
            }
        }
        .blog-second-section, .blog-third-section, .blog-fifth-section{
            background-color: $headerBG;
            padding: 40px;
            margin-top: 50px;
            color: #053152;
            .heading{
                display: flex;
                background-color: $white;
                padding: 20px 30px;
                gap: 25px;
                h2{
                    font-weight: 700;
                    font-size: 1.875rem;
                    line-height: 58px;
                    letter-spacing: 0.02em;
                }
            }
            ul{
                li{
                    list-style-type: none;
                    margin-top: 15px;
                    a{
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 40px;
                        letter-spacing: -0.015em;
                        color: #053152;
                    }
                }
            }
        }
        .shit-happens{
            margin-top: 50px;
            ul{
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #000000;
                        h3{
                            font-weight: 700;
                            font-size: 1.5625rem;
                            line-height: 58px;
                            letter-spacing: -0.015em;
                        }
                    }
                }
            }
        }

        .simple-reporting{
            margin-top: 50px;
            ul{
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #000000;
                        h3{
                            font-weight: 700;
                            font-size: 1.5625rem;
                            line-height: 58px;
                            letter-spacing: -0.015em;
                        }
                    }
                }
            }
        }

        .book-demo-btn{
            text-align: center;
            margin: 80px 0 150px 0;
        }
    }
}